# Ignore everything in this directory
*
# Except these files
!.gitignore
!Readme.md
!08_HU_seminar_network_analysis.pdf
!10_Structural_topic_models_an_example.pdf
!Video_1_Introduction.pdf
!Video_2_1_Data_Science_skills_to_use_bibliometric_data.pdf
!99_live_session_of_November_17.pdf
